################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/RSABenchmark/v15/.suo
/.vs/RSABenchmark/v15/sqlite3/storage.ide
/.vs/slnx.sqlite
